body{
  background-color: #fceaff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;/*Use when: You want to arrange items in a single row or column*/
/*display: grid;    Use when: You want both rows and columns (like a table) */
  justify-content: center; 
  align-items: center;
  height: 100vh;
}

.container{
  width: 500px;
  background-color: #fff0f6;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.2); /*the shadow arround the box*/
  border: 2px solid pink;
}

h2{
  color: #ff85c0;
  font-size: 28px;
  margin-bottom: 30px;  /* each element has a box arround it by default, its borders called border in html, padding is the space inside that box between the element (lets say h2) and its own borders in that box while margin is the space between the element box or borders and the other elemnts outside it like paragraph or som */
}

.love-calculator{
  margin-top: 20px;
}

label{
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ff85c0;
  font-family: 'Courier New', Courier, monospace;
}
input[type="text"]{
  width:100%;
  padding: 10px;
  color: #ff85c0;
  font-family: 'Courier New', Courier, monospace;
  border: none;
}

button{
  background-color: #ff85c0;
  color: white;
  border:none;
  padding: 10px 25px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

#result{
  margin-top: 10px;
  font-size: 22px;
  color: #ff85c0;
}